:root {
  --color-primary: #e27f86;
  --color-on-primary: #fff;

  --color-string: #6bb200;
  --color-boolean: #fc8f00;
  --color-null: #ee0290;
  --color-number: #9b02ee;

  --color-background: #fff;
  --color-on-background: #000;

  --color-surface: #fff;
  --color-on-surface: #000;
  --color-surface-variant: rgb(243, 243, 243);

  --blend-mode: hard-light;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #e27f86;
    --color-on-primary: black;

    --color-string: #90ee02;
    --color-boolean: #ff9e22;
    --color-null: #ee0290;
    --color-number: #ee6002;

    --color-background: rgb(25, 25, 25);
    --color-on-background: white;

    --color-surface: rgb(25, 25, 25);
    --color-on-surface: white;
    --color-surface-variant: rgb(45, 45, 45);

    --blend-mode: hard-light;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-on-background);
  background: var(--color-background);
  overflow-y: scroll;
}

strong {
  font-weight: 800;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  filter: drop-shadow(0 0 8px var(--color-primary));
  transform: scale(0.95);
}

svg.clickable {
  width: 48px !important;
  height: 48px !important;
  padding: 12px;
}

.key {
  color: var(--color-on-surface);
}

.string {
  color: var(--color-string);
}

.boolean {
  color: var(--color-boolean);
}

.null {
  color: var(--color-null);
}

.number {
  color: var(--color-number);
}

.animated {
  transition: all .25s ease-in-out;
}