.g-flex-row-mobile {
    flex-direction: row;
}

.g-visible-mobile {
    display: none;
}

.g-invisible-mobile {
    display: initial;
}

@media only screen and (max-width: 600px) {
    .g-flex-row-mobile {
        flex-direction: column;
    }

    .g-visible-mobile {
        display: initial;
    }

    .g-invisible-mobile {
        display: none;
    }
}